header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293df1;
    color: #fff;  
}

#background {
    display: flex;
    border: solid #13293d 5px;
    background-color: #0c1a27;
}


#trees {
    max-width: 90%;
    max-height: 90%;
    min-width: 85%;
    margin: 0 auto;
}

header nav ul{
    padding-top: 1%;
    font-size: 22px;
}

nav a {
    color: white;
    margin-right: 150px;

}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

body {
    background-color: #d9dcd6;
}


main {
    font-family: sans-serif;
    padding-left: 5px;
    width: 95%;
    display: inline-block;

}


#about-me {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 2rem;
}


#about-me h2 {
    border-right: solid #13293d 2px;
    padding: 9px;
}

p {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
}

/* #work h2 {
    border-right: solid #13293d 2px;
} */

.container {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    justify-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h4 {
    text-align: center;
}


.linkImg {
    position: relative;
    top: -15px;
}

.linkImg img {
    max-width: 400px;
    max-height: 225px;
    min-width: 400px;
    min-height: 225px;
    object-fit: cover;
    width: 100%;
  }

  .linkImg:hover img {
    transform: scale(1.05);  
    opacity: 0.5;
  }


#contact-me {
    display: flex;
    flex-direction:row;
}

#contact-me h2 {
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
    margin-right: 2rem;
    border-right: solid #13293d 2px;
    padding-right: 9px;
}


#tags img{ 
    height: 50px; 
    width: 50px;
    margin: 10px;
}

#tags:hover img {
    transform: scale(1.10);
}
/* 
#resume h2 {
    border-right: solid #13293d 2px;
} */

#myresume img {
    width: 40%;
    margin-left: 10em;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
} 

footer {
    padding-bottom: 15px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}